body{

  background-color: brown;
}
.logo{
  margin: 2%;
  width: 100%;
}
.redes_sociales{
  height: 3em;
  margin-top: 12rem;
}
.botones{
  background-color: pink;
  padding: 10px;
  margin: 0.5em;
  border-radius: 4px;
}
.navegador{
  background-color: black;
  width: 100%;
}
.letra{
  color: white;
  font-size: 16px;
}
.foto{
  width: 100%;
  height: 30rem;
  padding: 0.5rem;
  margin-top: 3.5em;
}
.comentario{
  margin-right: 20rem;
  border-radius: 10px;
}
.usuario{
  height: 3.5em;
}
.borde{
  border-left: 1px dashed white;
}
.buscador{
  padding: 25px;
}
.opciones{
  background-color: pink;
}
