.blog{
  background: url("../img/fondo.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width:100%;
  height: 100%;
}
.derecha{
  border-right: 2px solid black;
}
.encabezado{
  border-bottom: 2px solid black;
  border-right: 2px solid black;
}
.buscador{
  width: 100%;
}
.favoritos{
  width: 30%;
  height: 6rem;
  padding: 10px;
}
.opciones{
  color: white;
  background-color: black;
  margin: 0.1rem
}
.opciones1{
  color:black;
  background-color: brown;
  margin: 0.1rem
}
.fecha{
  font-family: cursive;
  color: pink;
}
.principal{
  width: 100%;
  padding: 5px;
  background-color: black;
}
.usuario{
  height: 2em;
  width: 80%;
  margin-left: 20%;
}
.buscador1{
  border-radius: 15px;
  width: 100%;
}
.letra{
  color: white!important;
}
.container{
  background: rgba(0, 0, 0, 0.8);
}
